@import "variables";

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: $projectsBackgroundColor;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  z-index: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
  padding-top: 300px;
  width: $contentWidth;
  height: 100%;
  overflow: hidden;
}