@import "../../../variables.module.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 128px 16px 0 16px;
}

.content {
  width: $contentWidth;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: 100px;
  font-family: "Raleway-extraBold";
  color: $black;
  margin: 0 0 32px 0;
  transition: transform .5s ease-in-out;
}