<section id="about" [className]="'projectsContainer'">
    <h1 [className]="'projectsTitle'">PROJECTS</h1>
    <div [className]="'projectsContent'">
        <div [className]="'projectElementLeft'">
            <a href="https://innovation.keolis.com/" target="_blank" [className]="'projectLogo'">
                <img [className]="'logoPI'" src="../../../../assets/images/pi.png" alt="">
            </a>
        </div>
        <div [className]="'projectElementRight'">
            <a href="https://www.keolis.com/" target="_blank" [className]="'projectLogo'">
                <img [className]="'logoKeolis'" src="../../../../assets/images/keolis.png" alt="">
            </a>
        </div>
        <div [className]="'projectElementLeft'">
            <a href="https://www.eatkube.com/" target="_blank" [className]="'projectLogo'">
                <img [className]="'logoEatkube'" src="../../../../assets/images/eatkube.png" alt="">
            </a>
        </div>
        <div [className]="'projectElementRight'">
            <a href="https://www.flykube.com/es" target="_blank" [className]="'projectLogo'">
                <img [className]="'logoFlykube'" src="../../../../assets/images/flykibe.png" alt="">
            </a>
            <div [className]="'textRight'">
                <p [className]="'text'">
                    Development of the new Flykube web application with React and maintenance of the old website.
                    Coordination with the backend team.
                    Coordination together with the CTO, with other departments such as design, marketing and the CEO.
                </p>
            </div>
        </div>
    </div>
</section>
