@import "variables";

.container {
  list-style: none;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
  background-color: white;
  border: none;
  box-shadow: $shadow;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  width: 262px;
  height: 100%;
  background-color: $yellow;
  box-shadow: $yellow;
  color: $grayText;
  font-size: 16px;
  font-family: "Raleway-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: center;
}

.progressBar {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

.progress {
  background-color: #a48a26;
  height: 100%;
}

.percentage {
  position: absolute;
  right: 20px;
  bottom: calc(50% - 10px);
  font-size: 16px;
  font-family: "Raleway-light";
  color: $grayText;
  z-index: 999;
  margin: 0;
  padding: 0;
}

@include mobile {
  .container {
    height: 30px;
  }

  .name {
    width: 170px;
    font-size: 13px;
  }

  .percentage {
    right: 10px;
    font-size: 13px;
    bottom: calc(50% - 7px);
  }
}