<div [className]="'blurBackground'"></div>
<nav [className]="'headerContainer'">
  <div [className]="'headerContent'">
    <a [className]="'logo'" [routerLink]="'/'">GL</a>
    <div [className]="'mainSection'">
      <div [className]="'mainSectionBackground'"></div>
      <a [className]="'navLink'" href="#about">About</a>
      <div [className]="'navLink'">|</div>
      <a [className]="'navLink'" [routerLink]="'/'">Skills</a>
      <div [className]="'navLink'">|</div>
      <a [className]="'navLink'" [routerLink]="'/'">Projects</a>
      <div [className]="'navLink'">|</div>
      <a [className]="'navLink'" [routerLink]="'/'">Hobbies</a>
    </div>
    <div [className]="'contactSection'">
      <a [className]="'navLink'" [routerLink]="'/'">Contact</a>
    </div>
  </div>
</nav>
