@import "variables";

.container {
  width: 100vw;
  height: fit-content;
  background-color: $aboutBackgroundColor;
  display: flex;
  justify-content: center;
  padding: 0 0 128px 0;
  z-index: 702;
  box-shadow: $shadow;
}

.content {
  width: $contentWidth;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
}

.title {
  font-size: 60px;
  margin: 0;
  font-family: "Raleway-extraBold";
  color: white;
  text-transform: uppercase;
}

.underline {
  width: 90px;
  height: 2px;
  background-color: white;
  margin-bottom: 78px;
}

.aboutItemsGroup {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  box-shadow: $shadow;
  transition: all .7s ease-in-out;
  transform: rotateY(-90deg);
  opacity: 0;
}

.image {
  min-width: 100%;
  min-height: 100%;
}

.descriptionContainer {
  width: 450px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .7s ease-in-out;
  opacity: 0;
}

.description {
  font-family: "Raleway-light";
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 44px 0 0 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: $yellow;
  font-family: "Raleway-light";
  font-size: 18px;
  white-space: pre;

}

@include tablet {
  .aboutItemsGroup {
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto;
    width: 60%;
  }

  .imageContainer {
    width: 260px;
    height: 260px;
    margin-top: 40px;
  }

  .description {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }

  .descriptionContainer {
    width: 80%;
  }
}

@include mobile {
  .aboutItemsGroup {
    width: 100%;
  }

  .descriptionContainer {
    width: 90%;
  }
}