@import "variables";

.container {
  width: 100vw;
  height: fit-content;
  background-color: $aboutBackgroundColor;
  display: flex;
  justify-content: center;
  padding: 0 0 128px 0;
  z-index: 702;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
  width: $contentWidth;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
}

.title {
  font-size: 60px;
  margin: 0;
  font-family: "Raleway-extraBold";
  color: white;
  text-transform: uppercase;
}

.underline {
  width: 90px;
  height: 2px;
  background-color: white;
  margin-bottom: 78px;
}

.aboutItemsGroup {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image {
  min-width: 100%;
  min-height: 100%;
}

.descriptionContainer {
  width: 450px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-family: "Raleway-light";
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 44px 0 0 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: $yellow;
  font-family: "Raleway-light";
  font-size: 18px;
  white-space: pre;

}