@import "../../../variables.module.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  padding: 128px 16px 0 16px;
}

.content {
  width: $contentWidth;
  height: 100%;
}

.title {
  font-size: 100px;
  font-family: "Raleway-extraBold";
  color: white;
  margin: 0 0 32px 0;
}

.skillsData {
  width: 100%;
  height: 100%;
  display: flex;
}

.selectorsContainer {
  flex: 1;
  height: 100%;
}

.skillsCollectionContainer {
  flex: 1;
  height: 100%;
  border: 1px solid red;
}

.selector {
  width: 150px;
  height: 150px;
  margin: 15px 0 70px 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 0 0 10px $black, 0 0 0 15px white;
  }
}


.selector1 {
  @extend .selector;
  background-color: $lightPurple;
  color: white;
  font-size: 24px;
  font-family: "Raleway-semiBold";
}

.selector2 {
  @extend .selector;
  background-color: $green;
  color: black;
  font-size: 24px;
  font-family: "Raleway-semiBold";
}

.selector3 {
  @extend .selector;
  background-color: white;
  color: black;
  font-size: 24px;
  font-family: "Raleway-semiBold";
}

.selector1selected {
  @extend .selector1;
  box-shadow: 0 0 0 10px $black, 0 0 0 15px white;
}
.selector2selected {
  @extend .selector2;
  box-shadow: 0 0 0 10px $black, 0 0 0 15px white;
}
.selector3selected {
  @extend .selector3;
  box-shadow: 0 0 0 10px $black, 0 0 0 15px white;
}