.aboutContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  width: 1140px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
}

.aboutTitle {
  font-size: 50px;
  font-family: Raleway-extraBold;
  padding: 0 128px;
  color: white;
  margin: 0 0 16px 0;
}

.aboutSubTitle {
  padding: 0 128px;
  color: white;
}

.aboutText {
  padding: 0 128px;
  color: white;
}