.homeContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ffb803 50%, #ff7512 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:10s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

.coverContainer {
  width: 90%;
  height: 75vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBackground {
  border-radius: 15px;
  width: 600px;
  height: 250px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
}

.profileContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.profileImage {
  width: 100%;
  height: 100%;
}

.infoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-family: Raleway-light;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
