<section id="home" [className]="'homeContainer'">
  <div id="bg1" [className]="'bg'"></div>
  <div id="bg2" [className]="'bg2'"></div>
  <div id="bg3" [className]="'bg3'"></div>
  <div [className]="'coverContainer'">
    <div [className]="'cardBackground'">
      <div [className]="'profileContainer'">
        <div [className]="'profile'">
          <img [className]="'profileImage'" src="../../../assets/images/profile.jpg" alt="">
        </div>
      </div>
      <div [className]="'infoContainer'">
        <div [className]="'info'"><b>Name: </b> Guillem León Font</div>
        <div [className]="'info'"><b>City: </b> Barcelona</div>
        <div [className]="'info'"><b>Job: </b> Full-Stack Developer</div>
      </div>
    </div>
  </div>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
</section>
<router-outlet></router-outlet>
