@import "variables";

.linkContainer {
  width: 35%;
  height: 350px;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(1.04);

    .caption {
      height: 150px;

      * {
        transform: translateY(0px);
      }
    }
  }
}

.linkContainerHighlighted {
  height: 500px;
  width: 100%;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(1.04);

    .captionHighlighted {
      height: 200px;

      * {
        transform: translateY(0px);
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.image {
  width: 100% !important;
  object-fit: contain;
  height: 100% !important;
}

.caption {
  width: 100%;
  height: 350px;
  background-color: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24px;
  transition: height .2s ease-in-out;

  * {
    transition: transform .2s ease-in-out;
    transform: translateY(300px);
  }
}

.captionHighlighted {
  @extend .caption;
  height: 500px;

  * {
    transform: translateY(300px);
  }
}

.title {
  color: white;
  font-family: "Raleway-extraBold";
  font-size: $smallTitle;
  margin: 0;
}

.titleHighlighted {
  @extend .title;
  font-size: $title;
}

.subtitle {
  color: white;
  font-family: "Raleway-light";
  font-size: $smallText;
  margin: 0;
}

.subtitleHighlighted {
  @extend .subtitle;
  font-size: $text;
}

@include tablet {
  .linkContainer {
    width: 100%;
    height: 300px;
    margin: 16px 0 16px 0;

    &:hover {
      transform: scale(1);

      .caption {
        height: 80px;
      }
    }
  }

  .linkContainerHighlighted {
    &:hover {
      .caption {
        height: 80px;
      }
    }
  }

  .caption {
    height: 80px;

    * {
      transform: translateY(0);
    }
  }

  .captionHighlighted {
    height: 80px;

    * {
      transform: translateY(0);
    }
  }

  .subtitle {
    display: none;
  }

  .title {
    font-size: $smallTitle;
  }
}

@include mobile {
  .linkContainer {
    height: 200px;
  }

  .title {
    font-size: 26px;
  }
}