@import "../../../../variables.module.scss";

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  background-color: #0CF2B1;
  transition: all .5s ease-in-out;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.linksList {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.linkContainer {
  margin: 16px 0;
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  height: 70px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 0 0 $lightPurple;
  -moz-box-shadow: 5px 5px 0 0 $lightPurple;
  -webkit-box-shadow: 5px 5px 0 0 $lightPurple;
  -o-box-shadow: 5px 5px 0 0 $lightPurple;
  clip-path: polygon(100% 0%, 200% 100%, 5% 120%, 5% 10%);
  transform: translateY(500px);
  transition: transform .5s ease-in-out;

  &:hover {
    background-color: white;
    .link {
      color: $black;
    }
  }
}

.link {
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-family: "Raleway-semiBold";
}