@import "variables";

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  background-color: $aboutBackgroundColor;
  transition: all .5s ease-in-out;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.linksList {
  width: 90%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.linkContainer {
  margin: 16px 0;
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  height: 70px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 0 0 $yellow;
  -moz-box-shadow: 5px 5px 0 0 $yellow;
  -webkit-box-shadow: 5px 5px 0 0 $yellow;
  -o-box-shadow: 5px 5px 0 0 $yellow;
  clip-path: polygon(100% 0%, 200% 100%, 5% 120%, 5% 10%);
  transform: translateY(300px);
  opacity: 0;
  transition: all .5s ease-in-out;

  &:hover {
    background-color: white;
    .link {
      color: $black;
    }
  }
}

.link {
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-family: "Raleway-semiBold";
}

.langContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: absolute;
  left: calc(50% - 55px);
  bottom: 20%;
}

.lang {
  text-decoration: none;
  color: white;
  margin: 8px;
  padding: 0;
  font-family: "Raleway-light";
  font-size: 21px;
  white-space: pre;
}