@import "variables";

.container {
  width: 25%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imageContainer {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: $yellow;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .7s ease-in-out;
  transform: rotateY(-90deg);
  opacity: 0;
}

.title {
  font-family: "Raleway-extraBold";
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 16px 0;
  transition: opacity .7s ease-in-out;
  opacity: 0;
}

.subtitle {
  font-family: "Raleway-light";
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 16px 0;
  padding: 0 32px;
  transition: opacity .7s ease-in-out;
  opacity: 0;
}

.icon {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include tablet {
  .container {
    width: 100%;
    height: 250px;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
    margin: 0;
  }

  .imageContainer {
    width: 110px;
    height: 110px;
  }

  .icon {
    svg {
      width: 55px;
    }
  }
}