/* Proxima Nova */

@font-face {
    font-family: "Proxima Nova Black";
    src: url('./fonts/proxima_nova/proxima_nova_black.otf');
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('./fonts/proxima_nova/proxima_nova_bold.otf');
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url('./fonts/proxima_nova/proxima_nova_light.otf');
}
@font-face {
    font-family: "Proxima Nova Light Italic";
    src: url('./fonts/proxima_nova/proxima_nova_light_italic.otf');
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url('./fonts/proxima_nova/proxima_nova_semibold.otf');
}
@font-face {
    font-family: "Proxima Nova Soft";
    src: url('./fonts/proxima_nova/proxima_nova_soft_regular.otf');
}
@font-face {
    font-family: "Proxima Nova Soft Semibold";
    src: url('./fonts/proxima_nova/proxima_nova_soft_semibold.otf');
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url('./fonts/proxima_nova/proxima_nova_thin.otf');
}
@font-face {
    font-family: "Proxima Nova";
    src: url('./fonts/proxima_nova/proxima_nova_regular.otf');
}

/* Museo */

@font-face {
    font-family: "Museo Light";
    src: url('./fonts/museo/museo_300.otf');
}
@font-face {
    font-family: "Museo";
    src: url('./fonts/museo/museo_500.otf');
}
@font-face {
    font-family: "Museo";
    src: url('./fonts/museo/museo_700.otf');
    font-weight: 700;
}

/* Museo Slab */

@font-face {
    font-family: "Museo Slab Light";
    src: url('./fonts/museo/museo_slab_300.otf');
}
@font-face {
    font-family: "Museo Slab";
    src: url('./fonts/museo/museo_slab_500.otf');
}
@font-face {
    font-family: "Museo Slab Bold";
    src: url('./fonts/museo/museo_slab_900.otf');
}


@font-face {
    font-family: "Raleway-black";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-bold";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-extraBold";
    src: local("Raleway"), url(./fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-extraLight";
    src: local("Raleway"), url(./fonts/raleway/Raleway-ExtraLight.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-light";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-medium";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-regular";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-semiBold";
    src: local("Raleway"), url(./fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway-thin";
    src: local("Raleway"), url(./fonts/raleway/Raleway-Thin.ttf) format("truetype");
}